# EXPLORING DATA

In [1]:
# Importing libraries
import pandas as pd
import regex as re
import numpy as np

In [2]:
# Reading CSV
df = pd.read_csv ('./data/attacks.csv', encoding='unicode_escape')

In [3]:
# Estructure of the data
print(df.shape)
print(df.columns)

(25723, 24)
Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [4]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

# CLEANING DATA

In [5]:
# Removing unnecessary columns for the analysis
df.drop(columns=['Date', 'Area', 'Location', 'Name', 'Injury', 'Time', 'Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22','Unnamed: 23'], inplace=True)

In [6]:
# Removing Nan and duplicate values
df.dropna(thresh=1, inplace=True)
df.drop_duplicates(inplace=True)
print(df.shape)

(6303, 9)

In [7]:
df.rename(columns = {'Sex ':'Sex', 'Species ':'Species'}, inplace = True)
list(df.columns)

['Case Number',
 'Year',
 'Type',
 'Country',
 'Activity',
 'Sex',
 'Age',
 'Fatal (Y/N)',
 'Species']

## FIXING COLUMN VALUES

CASE NUMBER

In [8]:
df['Month'] = df['Case Number'].str.extract('\.(\d{2})\.')
df['Month'].fillna('Unknown', inplace=True)

In [9]:
month = [['01','January'], ['02','February'], ['03','March'], ['04','April'], ['05','May'], ['06','June'], 
        ['07','July'], ['08','August'], ['09', 'September'], ['10', 'October'], ['11', 'November'], ['12', 'December']]

for x, y in month:
    df['Month'] = df['Month'].str.replace( x, y, regex = True)

In [10]:
month_2 = [i[1] for i in month]

for i in df['Month']:
    if i not in month_2:
        df['Month'].replace(i, np.nan , inplace= True)

In [11]:
df.drop('Case Number', axis=1, inplace=True)
df

,Year,Type,Country,Activity,Sex,Age,Fatal (Y/N),Species,Month
0,2018.0,Boating,USA,Paddling,F,57,N,White shark,June
1,2018.0,Unprovoked,USA,Standing,F,11,N,NaN,June
2,2018.0,Invalid,USA,Surfing,M,48,N,NaN,June
3,2018.0,Unprovoked,AUSTRALIA,Surfing,M,NaN,N,2 m shark,June
4,2018.0,Provoked,MEXICO,Free diving,M,NaN,N,"Tiger shark, 3m",June
...,...,...,...,...,...,...,...,...,...
6299,0.0,Unprovoked,USA,Swimming,M,NaN,Y,NaN,NaN
6300,0.0,Unprovoked,PANAMA,NaN,M,NaN,Y,NaN,NaN
6301,0.0,Unprovoked,CEYLON (SRI LANKA),Swimming,M,15,Y,NaN,NaN
6302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

YEAR

In [12]:
df['Year'].replace(0, np.nan, inplace= True)

In [13]:
df["Decade"] = pd.cut(df['Year'], bins=[1899, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010, 2020],
                labels=['1900 - 1910', '1910 - 1920', '1920 - 1930', '1930 - 1940','1940 - 1950', '1950 - 1960', 
                            '1960 - 1970', '1970 - 1980', '1980 - 1990', '1990 - 2000', '2000 - 2010', '2010 - 2020'])
df

,Year,Type,Country,Activity,Sex,Age,Fatal (Y/N),Species,Month,Decade
0,2018.0,Boating,USA,Paddling,F,57,N,White shark,June,2010 - 2020
1,2018.0,Unprovoked,USA,Standing,F,11,N,NaN,June,2010 - 2020
2,2018.0,Invalid,USA,Surfing,M,48,N,NaN,June,2010 - 2020
3,2018.0,Unprovoked,AUSTRALIA,Surfing,M,NaN,N,2 m shark,June,2010 - 2020
4,2018.0,Provoked,MEXICO,Free diving,M,NaN,N,"Tiger shark, 3m",June,2010 - 2020
...,...,...,...,...,...,...,...,...,...,...
6299,NaN,Unprovoked,USA,Swimming,M,NaN,Y,NaN,NaN,NaN
6300,NaN,Unprovoked,PANAMA,NaN,M,NaN,Y,NaN,NaN,NaN
6301,NaN,Unprovoked,CEYLON (SRI LANKA),Swimming,M,15,Y,NaN,NaN,NaN
6302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

TYPE

In [14]:
df['Type'].unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [15]:
df['Type'].replace('Invalid', np.nan, inplace=True)
df['Type'].replace('Boating', 'Boat', inplace=True)
df['Type'].replace('Boatomg', 'Boat', inplace=True)
df['Type'].unique()

array(['Boat', 'Unprovoked', nan, 'Provoked', 'Questionable',
       'Sea Disaster'], dtype=object)

COUNTRY

In [16]:
df["Country"] = df["Country"].str.upper().str.strip()
df["Country"].fillna("Unknown", inplace=True)

In [17]:
df['Country'].value_counts().head()

USA                 2228
AUSTRALIA           1338
SOUTH AFRICA         579
PAPUA NEW GUINEA     134
NEW ZEALAND          128
Name: Country, dtype: int64

ACTIVITY

In [18]:
df['Activity'] = df['Activity'].str.lower()

In [19]:
act = [['surf','surfing'], ['board','surfing'], ['swim','swimming'], ['bath','swimming'], ['div','swimming'], ['snork','swimming'], 
        ['fish','fishing'], ['wad','wading'], ['stand', 'wading'], ['walk', 'wading']]

for match, new in act:
    df['Activity'] = df['Activity'].str.replace('(^.*'+match+'.*$)', new, regex = True)

In [20]:
act_2 = ['swimming','surfing','fishing','wading']
for i in df['Activity']:
    if i not in act_2:
        df['Activity'].replace(i,'other', inplace= True)

In [21]:
df['Activity'] = df['Activity'].str.capitalize()
df['Activity'].value_counts().head(10)

Swimming    1943
Surfing     1561
Other       1386
Fishing     1106
Wading       307
Name: Activity, dtype: int64

SEX

In [22]:
df['Sex'] = df['Sex'].str.upper().str.strip()
df['Sex'] = df['Sex'].apply(lambda x: x if x in ('M','F') else np.nan)
df['Sex'].value_counts().head()

M    5095
F     637
Name: Sex, dtype: int64

AGE

In [23]:
df['Age'].unique()

array(['57', '11', '48', nan, '18', '52', '15', '12', '32', '10', '21',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', '40s', '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '40', '13', '42', '3', '8',
       '50', '16', '82', '73', '20s', '68', '51', '39', '58', 'Teen',
       '47', '61', '65', '36', '66', '43', '60s', '9', '72', '59', '6',
       '27', '64', '23', '71', '44', '62', '63', '70', '18 months', '53',
       '30s', '50s', 'teen', '77', '74', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', '36 & 26',
       '8 or 10', '84', '\xa0 ', ' ', '30 or 36', '6½', '21 & ?', '75',
       '33 or 37', 'mid-30s', '23 & 20', ' 30', '7      &    31', ' 28',
       '20?', "60's", '32 & 30', '16 to 18', '87', '67', 'Elderly',
       'mid-20s', 'Ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50',
       '18 to 22', 'adult', '9 & 12', '? & 19', '9 months', '25 to 35',
       '23 & 26', '1', '(adult)', '33 & 37', '25 or 28',
       '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32', '50 & 30',
       '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19', '33 & 26',
       '2 to 3 months', 'MAKE LINE GREEN', ' 43', '81', '"young"',
       '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10', 'young',
       '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33',
       '2½', '13 or 14'], dtype=object)

In [24]:
df['Age'] = df['Age'].str.extract('(\d+)') # ESTA AGAFANT NOMES EL PRIMER VALOR QUE TROBA
df['Age'].unique()

array(['57', '11', '48', nan, '18', '52', '15', '12', '32', '10', '21',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', '40', '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '13', '42', '3', '8', '50',
       '16', '82', '73', '68', '51', '39', '58', '47', '61', '65', '36',
       '66', '43', '9', '72', '59', '6', '27', '64', '23', '71', '44',
       '62', '63', '70', '53', '77', '74', '5', '86', '84', '75', '87',
       '67', '1', '2', '81', '78'], dtype=object)

FATAL (Y/N)

In [25]:
df['Fatal (Y/N)'] = df['Fatal (Y/N)'].str.upper().str.strip()
df['Fatal (Y/N)'] = df['Fatal (Y/N)'].apply(lambda x: x if x in ('Y','N') else np.nan)
df['Fatal (Y/N)'].replace('Y', 1, inplace=True)
df['Fatal (Y/N)'].replace('N', 0, inplace=True)
df['Fatal (Y/N)'].value_counts().head()

0.0    4300
1.0    1389
Name: Fatal (Y/N), dtype: int64

SPECIES

In [26]:
df['Species'] = df['Species'].str.lower()

In [27]:
# 10 especies que mes apareixen
spe = [['white','white shark'], ['tiger','tiger shark'], ['bull','bull shark'], ['wobbegong','wobbegong shark'], ['blacktip','blacktip shark'], 
        ['blue','blue shark'], ['mako','mako shark'], ['nurse','nurse shark'], ['raggedtooth', 'raggedtooth shark'], ['bronze', 'bronze whaler shark']]

for match, new in spe:
    df['Species'] = df['Species'].str.replace('(^.*'+match+'.*$)', new, regex = True)

In [28]:
spe_2 = [i[1] for i in spe]

for i in df['Species']:
    if i not in spe_2:
        df['Species'].replace(i, np.nan, inplace= True)

df['Species'] = df['Species'].str.capitalize()
df['Species'].value_counts().head(11)

White shark            667
Tiger shark            283
Bull shark             178
Blacktip shark         101
Nurse shark             96
Bronze whaler shark     64
Blue shark              56
Mako shark              55
Wobbegong shark         50
Raggedtooth shark       43
Name: Species, dtype: int64

In [29]:
df

,Year,Type,Country,Activity,Sex,Age,Fatal (Y/N),Species,Month,Decade
0,2018.0,Boat,USA,Other,F,57,0.0,White shark,June,2010 - 2020
1,2018.0,Unprovoked,USA,Wading,F,11,0.0,NaN,June,2010 - 2020
2,2018.0,NaN,USA,Surfing,M,48,0.0,NaN,June,2010 - 2020
3,2018.0,Unprovoked,AUSTRALIA,Surfing,M,NaN,0.0,NaN,June,2010 - 2020
4,2018.0,Provoked,MEXICO,Swimming,M,NaN,0.0,Tiger shark,June,2010 - 2020
...,...,...,...,...,...,...,...,...,...,...
6299,NaN,Unprovoked,USA,Swimming,M,NaN,1.0,NaN,NaN,NaN
6300,NaN,Unprovoked,PANAMA,Other,M,NaN,1.0,NaN,NaN,NaN
6301,NaN,Unprovoked,CEYLON (SRI LANKA),Swimming,M,15,1.0,NaN,NaN,NaN
6302,NaN,NaN,Unknown,Other,NaN,NaN,NaN,NaN,NaN,NaN
25722,NaN,NaN,Unknown,Other,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df.to_csv('./data/attacks_cleaned.csv')