# EXPLORING DATA

In [1]:
# Importing libraries
import pandas as pd
import numpy as np

In [2]:
# Reading CSV
df = pd.read_csv ('./data/attacks.csv', encoding='unicode_escape')

In [3]:
# Estructure of the data
print(df.shape)
print(df.columns)

(25723, 24)
Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [4]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

# CLEANING DATA

In [5]:
# Removing unnecessary columns for the analysis
df.drop(columns=['Case Number', 'Date', 'Location', 'Name', 'Injury', 'Time', 'Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22','Unnamed: 23'], inplace=True)
df

,Year,Type,Country,Area,Activity,Sex,Age,Fatal (Y/N),Species
0,2018.0,Boating,USA,California,Paddling,F,57,N,White shark
1,2018.0,Unprovoked,USA,Georgia,Standing,F,11,N,NaN
2,2018.0,Invalid,USA,Hawaii,Surfing,M,48,N,NaN
3,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,NaN,N,2 m shark
4,2018.0,Provoked,MEXICO,Colima,Free diving,M,NaN,N,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.dropna(thresh=1, inplace=True)
df

,Year,Type,Country,Area,Activity,Sex,Age,Fatal (Y/N),Species
0,2018.0,Boating,USA,California,Paddling,F,57,N,White shark
1,2018.0,Unprovoked,USA,Georgia,Standing,F,11,N,NaN
2,2018.0,Invalid,USA,Hawaii,Surfing,M,48,N,NaN
3,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,NaN,N,2 m shark
4,2018.0,Provoked,MEXICO,Colima,Free diving,M,NaN,N,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...,...
6297,0.0,Unprovoked,AUSTRALIA,Western Australia,Diving,M,NaN,Y,NaN
6298,0.0,Unprovoked,AUSTRALIA,Western Australia,Pearl diving,M,NaN,Y,NaN
6299,0.0,Unprovoked,USA,North Carolina,Swimming,M,NaN,Y,NaN
6300,0.0,Unprovoked,PANAMA,NaN,NaN,M,NaN,Y,NaN
6301,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,Swimming,M,15,Y,NaN

In [7]:
df.drop_duplicates(inplace=True)
print(df.shape)

(6222, 9)

In [8]:
df.isna().sum()

Year              2
Type              4
Country          49
Area            447
Activity        532
Sex             559
Age            2768
Fatal (Y/N)     538
Species        2775
dtype: int64